<div class="container">
    <div class="sub-container">
        <div routerLink="/main">
            <img src="../../../../assets/logo.png" alt="Sun Quest logo" width="150px">
        </div>
        <nav *ngIf="!isMobile" class="menu">
            <div class="shortcut"><a routerLink="/main/users">Users</a></div>
            <div class="shortcut"><a routerLink="/main/book">Bookings</a></div>
            <div class="shortcut" [matMenuTriggerFor]="menu">
                Reports
            </div>
            <mat-menu #menu="matMenu">
                <button mat-menu-item>Book Report</button>
                <button mat-menu-item>Other Report</button>
            </mat-menu>
        </nav>
    </div>
</div>